<div id="banner" class="container-fluid">
    <!-- <ul class="banner_imgs">
        <li class="show"><a href="#"><img src="/static/img/ban_1.jpg" alt=""></a></li>
        <li><a href="#"><img src="/static/img/ban_2.jpg" alt=""></a></li>
        <li><a href="#"><img src="/static/img/ban_3.jpg" alt=""></a></li>
        <li><a href="#"><img src="/static/img/ban_4.jpg" alt=""></a></li>
    </ul>
    <ol class="banner_dots">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
    </ol> -->
</div>