<header>
    <div id="server-fluid" >
        <div id="server" >
            <ul class="list">
                <li><a href="">
                    <h3> 联系我们</h3>
                </a></li>
                <li><a href="">
                    <h3><span> </span> 在线客服</h3>
                    <p>(仅支持中文)</p>
                </a></li>
                <li>
                    <h3><span> </span>  400-999-5999</h3>
                    <p>(仅支持中文)</p>
                </li>
                <li><a href="">
                    <h3><span> </span> service@adidas.com</h3>
                    <p>(建议及投诉受理邮箱)</p>
                </a></li>
                <li>
                    <h3><span> </span> 9:00-22:00</h3>
                </li>
                <li class="lastLis"><a href="">
                    <h3><span> </span> 订单追踪</h3>
                </a></li>
                
            </ul>
        </div>
    </div>
    <div id="product">
        <div class="product-list clear">
            <ul class="type list list1">
                <li><h3>产品</h3></li>
                <li><a href="">鞋类</a></li>
                <li><a href="">服装</a></li>
                <li><a href="">配件</a></li>
                <li><a href="">最新上市</a></li>
                <li><a href="">新品发售日历</a></li>
                <li><a href="">限量发售</a></li>
            </ul>
            <ul class="sport list list1">
                <li><h3>运动</h3></li>
                <li><a href="">跑步</a></li>
                <li><a href="">训练</a></li>
                <li><a href="">足球</a></li>
                <li><a href="">篮球</a></li>
                <li><a href="">户外</a></li>
            </ul>
            <ul class="assist list list1">
                <li><h3>帮助中心</h3></li>
                <li><a href="">关于员工</a></li>
                <li><a href="">尺码表</a></li>
                <li><a href="">门店查询</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">企业社会责任</a></li>
                <li><a href="">ADIDAS APP</a></li>
            </ul>
            <ul class="web list list1">
                <li><h3>网站政策</h3></li>
                <li><a href="">使用条款</a></li>
                <li><a href="">隐私声明</a></li>
                <li><a href="">物流配送规则</a></li>
                <li><a href="">退还货规则</a></li>
                <li><a href="">adiCLUB会员规则</a></li>
                <li><a href="">下单指南</a></li>
                <li><a href="">印制服务规则</a></li>
            </ul>
            <ul class="we list list2">
                <li><h3>关注我们</h3></li>
                <li><a href=""><span>💬</span> <span>💬</span></a></li>
            </ul>
            <ul class="career list list2">
                <li><h3>职业发展</h3></li>
                <li><a href=""><span>📝</span></a></li>
            </ul>
        </div>
        <div class="pay">
            <span>我们接受下列付款方式：</span>
            <img src="../../static/img/foot_03.png" alt="">
            <img src="../../static/img/foot_05.png" alt="">
            <img src="../../static/img/foot_07.png" alt="">
        </div>
        <div class="qq">
            <span>企业团购热线及邮箱：&nbsp;团购热线：021-2525 6881</span>
            <span>团购邮箱：adidas.b2b@adidas.com（仅限采购金额10万以上）</span>
        </div>
    </div>
    <div id="copy_">
        <div id="copy">
            <span class="cn">🚩 中国</span> 
            <p>
                <a href="">隐私声明</a> <span> | </span>
                <a href="">使用条款</a> <span> | </span>
                <a href="">网站地图</a> <span> | </span>
                <a href="">© 阿迪达斯体育（中国）有限公司保留所有权利</a>
            </p>
        </div>
    </div>
    <div id="address_">
        <div id="address">
            <p class="fr">
                <a href="">苏ICP备14048805号-1</a>
                <a href="">江苏工商</a>
                <a href="">  © 2019 adidas</a>
                <a href="">苏公网安备 32059002001401号</a>
                
            </p>
        </div>
    </div>
</header>
