<div class="container-fluid" id="headFluid">
    <div class="container" id="head">
        <div class="top">
            <div class="fr">
                <a href="http://localhost:4000/view/order.html" target="blank">订单追踪 <span>📖</span></a>
                <a href="">帮助中心 <span>?</span></a>
                <a href="">在线客服 <span>💬</span></a>
                <a href="http://localhost:4000/view/login.html"  target="blank">登录 <span>☃</span></a>
            </div>
        </div>
        <div class="nav">
            <div class="left fl">
                <div class="logo">
                    <a href="http://localhost:4000/view/index.html" target="blank">
                        <img src="https://static.adidas.com.cn/images/logo-new.png" alt="">
                    </a>
                </div>
                <ul>
                    <li><a href="">男子</a></li>
                    <li><a href="http://localhost:4000/view/list.html" target="blank">女子</a></li>
                    <li><a href="">儿童</a></li>
                    <li>|</li>
                    <li><a href="">运动</a></li>
                    <li><a href="">品牌</a></li>
                    <li><a href="">运动吧少年</a></li>
                </ul>
            </div>
            <div class="right fr">
                <div class="search">
                    <a href=""> <span>🔍</span></a>
                    <input type="text" placeholder="运动吧少年">
                </div>
                <a href="http://localhost:4000/view/cart.html" class="cart" target="blank">🚗</a>
            </div>
        </div>
        
    </div>
</div>
