<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    @include('head.html')

    <div id="wrap" class="container clear">
        <div id="cart" class="fl">
            <div class="title">
                <h2>您的购物袋 <span>共2件</span><a href="http://localhost:4000/view/list.html">继续购物</a></h2>
            </div>
            <div class="xuan">
                <label for=""><input type="checkbox" name="" id="allCb"> </label>全选
                <p>（ 已选中 <span>1</span> 件 ）</p>
            </div>
            <div class="cart_list">
                <div class="goods">
                    <div class="check"><input type="checkbox" name="" id=""> </div>
                    <div class="goodsContent clear">
                        <div class="pic fl"><a href=""><img src="https://img.adidas.com.cn/resources/2019/11/27/15748452306869460.jpg?x-oss-process=image/resize,m_pad,w_200,h_200,limit_0,color_ffffff" alt=""></a></div>
                        <div class="goodsContent_right fl">
                            <div class="name">SUPERSTAR Stormtrooper J 经典运动鞋</div>
                            <div class="type">SUPERSTAR</div>
                            <div class="detailinfo clear">
                                <div class="detailinfo_left fl">
                                    <div class="color">颜色：<span>白色/黑色</span></div>
                                    <div class="code">尺码：<span>39 (UK6)</span></div>
                                </div>
                                <div class="detailinfo_right fr">
                                    <p class="price">￥ <span>779</span> X </p>
                                    <div class="num"><input type="number" value="1"> <span class="fr"> ↓</span> </div>
                                    <p></p>
                                </div>
                            </div>
                            <div class="oper">
                                <a href="">编辑</a> <span style="margin: 0 5px;">|</span>
                                <a href="">删除</a>
                                <span class="fr"> ￥799</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="goods">
                    <div class="check"><input type="checkbox" name="" id=""> </div>
                    <div class="goodsContent clear">
                        <div class="pic fl"><a href=""><img src="https://img.adidas.com.cn/resources/2019/11/27/15748452306869460.jpg?x-oss-process=image/resize,m_pad,w_200,h_200,limit_0,color_ffffff" alt=""></a></div>
                        <div class="goodsContent_right fl">
                            <div class="name">SUPERSTAR Stormtrooper J 经典运动鞋</div>
                            <div class="type">SUPERSTAR</div>
                            <div class="detailinfo clear">
                                <div class="detailinfo_left fl">
                                    <div class="color">颜色：<span>白色/黑色</span></div>
                                    <div class="code">尺码：<span>39 (UK6)</span></div>
                                </div>
                                <div class="detailinfo_right fr">
                                    <p class="price">￥ <span>779</span> X </p>
                                    <div class="num"><input type="number" value="1"> <span class="fr"> ↓</span> </div>
                                    <p></p>
                                </div>
                            </div>
                            <div class="oper">
                                <a href="">编辑</a> <span style="margin: 0 5px;">|</span>
                                <a href="">删除</a>
                                <span class="fr"> ￥799</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="right" class="fr">
            <div class="order">
                <h2>订单摘要：<span id="allNum">共 2 件</span></h2>
                <div class="prices">
                    <p>商品金额 <span id="allPrice">￥799</span></p>
                    <p>优惠金额 <span id="sale" style="color: red;">-￥0</span></p>
                    <p style="font-weight: 600;border: none;">商品总计 <span id="allP">￥799</span></p>
                </div>
                <a href="javascript:;"><div class="settlement">结算  &nbsp;→  </div></a>

            </div>
            <div class="ym">全场免普通达运费</div>
            <ul class="assist">
                <li style="font-size: 14px;"><a href="">帮助</a></li>
                <li><a href="">关于订单</a></li>
                <li><a href="">关于支付</a></li>
                <li><a href="">物流配送规则</a></li>
                <li><a href="">退换货规则</a></li>
            </ul>
            <div class="method">
                <p>我们接受下列付款方式</p>
                <img src="../static/img/foot_03.png" alt="">
                <img src="../static/img/foot_05.png" alt="">
                <img src="../static/img/foot_07.png" alt="">
            </div>
        </div>
    </div>

    @include('foot.html')


</body>
</html>