<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情页</title>
    <link rel="stylesheet" href="/css/detail.css">
    <script src="/lib/require.js" data-main="/js/detail.js"></script>
</head>
<body>
    @include('head.html')

    <p id="mit"><span>🚓 全场免运费 </span> <span>⏰ 尊享当日达、次日达、次晨达</span> </p>
    <div id="top"  class="container">
        <div class="nav">
            <span><</span> 
            <a href="">返回</a> <strong>|</strong>
            <a href="">首页</a>
            <i></i>
            <a href="">女子</a>
            <i></i>
            <a href="">女子服饰类</a>
            <i></i>
            <a href="">卫衣/毛衫</a>
        </div>
    </div>

    <div id="wrap_" class="container-fluid">
        <div id="wrap">
            <div class="nav_">
                <ul class="nav">
                   <!--  <li><a href=""><img src="https://img.adidas.com.cn/resources/2020/9/3/15991084367244383.jpg" alt=""></a></li>
                    <li><a href=""><img src="https://img.adidas.com.cn/resources/2020/9/3/15991084367244383.jpg" alt=""></a></li>
                    <li><a href=""><img src="https://img.adidas.com.cn/resources/2020/9/3/15991084367244383.jpg" alt=""></a></li>
                    <li><a href=""><img src="https://img.adidas.com.cn/resources/2020/9/3/15991084367244383.jpg" alt=""></a></li>
                    <li><a href=""><img src="https://img.adidas.com.cn/resources/2020/9/3/15991084367244383.jpg" alt=""></a></li>
                    <li><a href=""><img src="https://img.adidas.com.cn/resources/2020/9/3/15991084367244383.jpg" alt=""></a></li>
                    <li><a href=""><img src="https://img.adidas.com.cn/resources/2020/9/3/15991084367244383.jpg" alt=""></a></li>
                    <li><a href=""><img src="https://img.adidas.com.cn/resources/2020/9/3/15991084367244383.jpg" alt=""></a></li>               
                 -->
                </ul>
            </div>
            <div class="up arrow" id="up">⬆</div>
            <div class="ub arrow" id="ub">⬇</div>
            <div class="fdj">
                <!-- <div class="smallbox">
                    <img src="https://img.adidas.com.cn/resources/2020/9/3/15991084367244383.jpg" alt="">
                    <div class="mask"></div>
                </div>
                <div class="bigbox"><img src="https://img.adidas.com.cn/resources/2020/9/3/15991084367244383.jpg" alt=""></div> -->
            </div>
            <div class="pop">
                <!-- <div class="con">
                    <p class="type">女子  运动表现  运动型格</p>
                    <h2 class="title">W UR HOODIE 卫衣</h2>
                    <p class="xx">⭐⭐⭐⭐⭐ <a href="">共9条评价</a></p>
                    <p class="price">¥599</p>
                    <p class="color">白(GC9168)</p>
                </div>
                <ul class="list clear">
                    <li><a href=""><img src="https://img.adidas.com.cn/resources/2020/9/3/15991048052424707.jpg" alt=""></a></li>
                    <li><a href=""><img src="https://img.adidas.com.cn/resources/2020/9/3/15991048052424707.jpg" alt=""></a></li>
                </ul>
                <p class="cha"> 👁‍🗨 <a href="">查看尺码对照表</a></p>
                <div class="code">选择尺码 <span>↓</span></div>
                <div class="num">选择尺码 <span>↓</span></div>
                <a href=""><div class="buy">立即购买 <span>→</span></div></a>
                <a href=""><div class="addcart">加入购物袋 <span>→</span></div></a>
                <div class="free">
                    <a href="">该商品免运费 <span>💬√</span></a>
                    <a href="">在线客服 <span>💬</span></a>
                </div>
                <p class="info">价格说明：上文显示的划线价格系该商品的建议零售价（而非法律意义上的原价），仅供您参考。</p>
                <div class="contact">
                    <div class="weibo"><a href=""><img src="../static/img/detail_03.png" alt=""></a></div>
                    <div class="weixin"><a href=""><img src="../static/img/detail_05.png" alt=""></a></div>
                </div>  -->
            
            </div>
        </div>
    </div>

    <div id="goodsinfo">
        <h3 class="info-title">商品描述</h3>
        <h3 class="info-title">商品评价</h3>
        <div class="content">
            <!-- <h2 class="info-name">HOODIE 运动套头衫</h2>
            <p class="info-describe">短款运动衫，舒服</p> -->
        </div>

    </div>

    @include('foot.html')


</body>
</html>