<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的订单</title>
    <link rel="stylesheet" href="/css/order.css">
    <script src="/lib/require.js" data-main="/js/order.js"></script>
</head>
<body>
    @include('head.html')

        <div id="cart" class="container">
            <div class="title">
                <h2>我的订单 <a href="http://localhost:4000/view/list.html" target="blank">继续购物</a></h2>
            </div>
            <div class="info">
                <!-- <p> dsvfv</p>
                <p> dsvfv</p>
                <p> dsvfv</p> -->
            </div>
            <div class="cart_list">
                <div class="goods">
                    
                </div>
                
            </div>

        </div>
   

    @include('foot.html')


</body>
</html>