<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    @include('head.html')

    <div class="nav">
        <span><</span> 
        <a href="">返回</a> <strong>|</strong>
        <a href="">登录</a>
        <a href="">| 注册</a>
        <strong> / </strong>
        <a href="">登录</a>
    </div>
    <div id="regi" class="clear">
        <div class="left fl">
            <h2></h2>
        </div>
    </div>

    @include('foot.html')


</body>
</html>