
@import './modules/common.scss';
@import './modules/reset.scss';
@import './modules/var.scss';
@import './modules/foot.scss';
@import './modules/head.scss';

#cart{
    width: 800px;
    .title{
        h2{
            font-size: 24px;
            color: #000;
            margin: 30px 0 20px;
            position: relative;
        }
        a{
            font-size: 16px;
            position: absolute;
            bottom: 0;
            right: 0;
            color: #000;
            text-decoration: underline;
        }
    }
    .info {
        margin-bottom: 20px;
        p{
            font-size: 18px;
            line-height: 30px;
        }
    }
    .cart_list{
        .goods{
            border-bottom: solid 1px #ccc;
            margin-bottom: 20px;
            position: relative;
            .check{
                display: block;
                position: absolute;
                top: 45%;
                input{
                    width: 20px;
                    height: 20px;
                    margin-right:10px ;
                }
            }
            .goodsContent{
                padding: 25px 10px 25px 0px;
                .pic{
                    width: 150px;
                    height: 150px;
                    margin-right: 20px;
                    img{
                        @include wh100;
                    }
                }
                .goodsContent_right{
                    width: 580px;
                    font-size: 12px;
                    .type{
                        margin: 4px 0 10px;
                        color: #888;
                    }
                    .detailinfo_left{
                        color: #888;
                        span{
                            color: #000;
                        }
                    }
                    .detailinfo_right{
                        .price{
                            display: inline-block;
                        }
                        .num{
                            display: inline-block;
                            width: 70px;
                            height: 40px;
                            border: solid 1px #ccc;
                            padding: 10px;
                            box-sizing: border-box;
                            position: relative;
                            input{
                                width: 40px;
                                height: 20px;
                                border: none;
                                outline: none;
                            }
                        }
                    }
                    .oper{
                        margin-top: 50px;
                        a{
                            text-decoration: underline;
                            font-size: 14px;
                        }
                        .fr{
                            font-size: 18px;
                            line-height: 18px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
